:root{
    --location-value: 0;
    --display-value: none;
    --z-index-value: -100;
    --animation-name:notification-anaimation-in;
    --height: auto;
}

.product-container{
    display: flex;
    margin: 30px auto 30px auto;
    max-width: 1200px;
    
    // .notification-container{
    //     position: fixed;
    //     top: var(--location-value);
    //     right: var(--location-value);
    //     z-index: 1;
    //     transition: ease;
    //     transition-duration: 700ms;
    // }
    .notification-container{
        position: fixed;
        top: 0px;
        right: 0px;
        display: none;
    }


    .show{
        animation: show_slide 0.6s ease forwards;
        z-index: 10;
        top: 10px;
        right: 10px;
        display: block !important;

    }

      @keyframes show_slide {
        0%{
            transform: translateX(100%);
          }
          40%{
            transform: translateX(-5%);
          }
          80%{
            transform: translateX(0%);
          }
          100%{
            transform: translateX(0px);
          }
      }

    .hide{
        animation: hide_slide 0.35s ease forwards;
        top: 10px;
        right: 10px;
        display: block !important;
    }

    @keyframes hide_slide {
        0%{
            transform: translateX(0px);
        }
        10%{
            transform: translateX(-2%);
        }
        20%{
            transform: translateX(-4%);
        }
        30%{
            transform: translateX(-6%);
        }
        40%{
            transform: translateX(-8%);
        }

        100%{
            transform: translateX(calc(100% + 10px));
        }
        }


    .left{
        width: 49%;
        margin: 0px 0px 0px 2%;
        .image-container{
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
            max-height: 800px;

            .side-images{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: auto;
                img{
                    width: 100px;
                    height: 100px;
                    object-fit: contain;
                   
                }
                img:hover{
                    background-color: rgb(232, 232, 232);
                }
            }
   
            .main-image{
                display: flex;
                justify-content: flex-start;
                // background-color: red;
                width: 80%;
                img{
                    width: 90%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .right{
        width: 47%;
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .title{
            font-size: 25px;
            margin-bottom: 5px;
        }
        .price{
            color: #878383;
        }
        .description{
            color: black;
            font-size: 16px;
        }
        .sizes-container{
            width: 95%;
            .sizes-wrapper{
                width: 100%;
                max-width: 470px;
                display: grid; /* 1 */
                grid-template-columns: repeat(5, 18%); /* 2 */
                gap: 5px;
                // background-color: red;
                .size{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid rgb(171, 165, 165);
                    border-radius: 4px;
                    width: 100%;
                    height: 40px;
                    font-weight: 500;
                    margin-bottom: 5px;
                    max-width: 80px;
                }
                .size:hover{
                    cursor: pointer;
                }
            }
            .size-title{
                align-self: flex-start;
                width: 40px;
                text-align: left !important;
                margin-bottom: 10px;
            }
        }
        .quantity{
            border-radius: 1px;
            border: 1px solid rgb(176, 171, 171);
            width: 110px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            font-size: 20px;
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background-color: white;
                .icon{
                    font-size: 20px;
                }
            }
            button:hover{
                cursor: pointer;
                color: blue;
            }
        }
        .add-to-cart{
            cursor: pointer;
            width: 180px;
            height: 40px;
            border-radius: 1px;
            // background-color: #018849;
            background-color:#c79972;
            border: #e6c09f;
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;

            .add-icon{
                font-size: 25px;
                color: white;
            }
            span{
                font-size: 14px;
                color: white;
                font-weight: 600;
            }
        }
        .add-to-cart:hover{
            // background-color: #127547;
            background-color:#a2876f;
        }
        .favorite-and-compare{
            color:#018849;
            display: flex;
            gap: 25px;
            .favorite, .compare{
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;
                .icon-fav{
                    cursor: pointer;
                }
            }

        }
        p{
            color: gray;
            font-size: 14px;
        }
        .information{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: fit-content;
            hr{
                border: 1px solid rgb(238, 237, 237);
                margin: 2px 0px;
            }
        }
        .hr-break-section{
            border: 1px solid rgb(238, 237, 237);
            margin: 10px 0px;
        }
    }

}

@media (max-width:1300px) {
    .product-container{
        overflow: hidden;
        .left{
            .image-container{
              
                .side-images{
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
                .main-image{
 
                    img{
                    }
                }
            }
        }
    
    }

}
@media (max-width:1100px) {
    .product-container{
        margin: 30px 20px 30px 20px;
        
        .left{
            .image-container{
                .side-images{
                    // display: flex;
                    // flex-direction: column;
                    // gap: 10px;
                    // width: 20%;

                    img{
                        // width: 80px;
                        // height: 80px;
                        // object-fit: cover;

                    }
                }
            }
        }
    }

}
@media (max-width: 1000px) {
    .product-container{
        .left{
            width: 60%;
            .image-container{
                flex-direction: column;
                max-height: 650px;
                .side-images{
                    flex-direction: row;
                    width: 100%;
                    justify-content: center;
                    img{
                        width: 50px;
                        height: 50px;
                        display: block;
                        object-fit: cover;
                        object-position: 30% 30%;
                    }
                }
                .main-image{
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    justify-content: center;
                    img{
                    }
                }
            }
        }
        .right{
            width: 40%;
            .quantity{
                width: 120px;
                height: 40px;
                button{
                    .icon{
                        font-size: 14px;
                    }
                }

            }
            .sizes-container{
                
                width: 95%;
                .sizes-wrapper{
                    width: 100%;
                    max-width: 500px;
                    display: grid; /* 1 */
                    grid-template-columns: repeat(4, 24%); /* 2 */
                    gap: 5px;
                    // background-color: red;
                    .size{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid rgb(171, 165, 165);
                        width: 100%;
                        height: 40px;
                        font-weight: 500;
                        margin-bottom: 5px;
                        max-width: 80px;
                    }
                }
                .size-title{
                    align-self: flex-start;
                    width: 40px;
                    text-align: left !important;
                    margin-bottom: 10px;
                }
            }

            .add-to-cart{
                width: 140px;
                
                .add-icon{
                    font-size: 18px;
                }
                span{
                    font-size: 12px;
                }
            }
            .favorite-and-compare{
                gap: 15px;

                .favorite, .compare{
                    font-size: 12px;
                    .icon-fav{
                      
                    }
                }
    
            }
        }
    
    }

}

@media screen and (max-width: 800px){
    .product-container{
        .right{
            .sizes-container{
                .sizes-wrapper{
                    grid-template-columns: repeat(3, 30%); /* 2 */
                    gap: 5px;
                }
                
            }
        }
       
    }

}
@media screen and (max-width: 550px){
    .product-container{
        flex-direction: column;
        width: 95%;
        margin-left: 0px;
        
        .left{
            
            width: 100%;
            .main-image{
            }

        }
        .right{
            // background-color: red;
            margin: 20px auto 0px auto;
            width: 85%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .sizes-container{
                width: 95%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .sizes-wrapper{
                    width: 100%;
                    display: grid; /* 1 */
                    grid-template-columns: repeat(5, 18%); /* 2 */
                    gap: 2%;
                    // background-color: red;
                    .size{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid rgb(171, 165, 165);
                        width: 100%;
                        height: 40px;
                        font-weight: 500;
                        margin-bottom: 10px;
                    }
                }
                .size-title{
                    align-self: flex-start;
                    width: 40px;
                    text-align: left !important;
                    margin-bottom: 10px;
                }
            }
            .title{
                margin-top: 10px;
                margin-bottom: 0px;
                font-size: 16px;
                font-weight: 600;
                text-align: center;
            }
            .price{
                text-align: center;
            }
            .add-to-cart{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
            }
        }
    }
}
@media screen and (max-width: 400px){
    .product-container{
        .right{
            .sizes-container{
                .sizes-wrapper{
                    grid-template-columns: repeat(4, 24%); /* 2 */
                    .size{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 40px;
                    }
                }
            }
        }
    }

}