.link-products{
    width: 100%;
    height: 480px;
    // height: 100%;
    display: block;
    .card-products{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        margin-bottom: 10px;
        .image{
            display: block;
            position: relative;
            width: 100%;
            height: 80%;
            overflow: hidden;
            // height: 400px;
            // width: 280px;
            img{
                display: block;
                width: 100%;
                height: auto;
                // aspect-ratio: 2/3;
                // height: 400px;
                // width: 280px;
            }
            .main-image{
                display: block;
                overflow: hidden;
                object-fit: fill;
                position: absolute;
                z-index: 1;
                
            }
            .second-image{ 
                display: block;
                overflow: hidden;
                object-fit: cover;
                position: absolute;
                z-index: -1;
            }
        }

        .new-season{
            position: absolute;
            z-index: 3;
            top: 10px;
            left: 10px;
            background-color: white;
            color: teal;
            font-size: 12px;
            padding: 4px;
        }
        .sale-percentage{
            background-color: rgb(199, 9, 9);
            color: white;
            width: 45px;
            font-weight: 500;
            font-size: 13px;       
            padding: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 50px;
            right: 0px;
            z-index: 3;
            gap: 1px;
    
        }
        .price-and-title{
            .title{
                font-size: 14px;
                padding: 10px 5px 0px 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .title:hover{
                overflow: normal;
                white-space: pre-wrap; 
                text-overflow: none;
            }
            .price{
                display: flex;
                gap: 15px;
                padding: 3px 0px 0px 10px;
                font-size: 13px;
                align-items: center;
                font-weight: 600;
                .current-price{
                    color: red;
                }
                .sale-price{
                    color: black;
                    text-decoration: line-through 1.5px;
                    -webkit-text-decoration-line: line-through;
                }
        
            }
        }
        .invisible-text{
            display: none;
        }
       
    }

}

.link-products:hover{
    .card-products{
        .price-and-title{
            .title{
                text-decoration: underline;
                overflow: normal;
                white-space: pre-wrap; /* Don't forget this one */
                text-overflow: none;
            }
        }
    }

}
.link-products{
    text-decoration: none;
    .title{
        color: black;
    }
}
.card:hover{
    .image{
        .second-image{
            z-index: 2;
        }
    }
}
@media (max-width: 1050px){
    .link-products{
        height: 380px;
    }
}
@media (max-width: 768px){
    .link-products{
        height: 280px;
        .card-products{
            .image{
                height: 75%;
                .sale-percentage{
                    bottom: 25px;
                }
            }
        }
    }
}
@media (max-width: 330px){
    .link-products{
        height: 260px;
        .card-products{
            .image{
                height: 75%;
                .sale-percentage{
                    bottom: 25px;
                }
            }
        }
    
    }
}
// @media screen and (max-width:1050px){
//     .link-products{
//             .card-products{
//                 width: 210px;
//                 .image{
//                     display: block;
//                     width: 210px;
//                     height: 300px;
//                     position: relative;
                    
    
//                     img{
//                         width: 210px;
//                         height: 300px;
    
//                     }
//                     .main-image{
//                         overflow: hidden;
//                         object-fit: cover;
//                         position: absolute;
//                         z-index: 1;
//                     }
//                     .second-image{
//                         overflow: hidden;
//                         object-fit: cover;
//                         position: absolute;
//                         z-index: -1;
//                     }
//                     }
                
//             }
//             .card-products:hover{
//                 .image{
//                     .second-image{
//                         z-index: 2;
//                     }
//                 }

//             }
//     }
    
// }
// @media screen and (max-width: 710px){
// .link-products{

//     .card-products{
//         width: 140px;
//         height: 260px;
//         .image{
//             display: block;
//             width: 140px;
//             height: 200px;
//             position: relative;

//             img{
//                 width: 140px;
//                 height: 200px;
//             }

//             .main-image{
//                 overflow: hidden;
//                 object-fit: cover;
//                 position: absolute;
//                 z-index: 1;
//             }
//             .second-image{
//                 overflow: hidden;
//                 object-fit: cover;
//                 position: absolute;
//                 z-index: -1;
//             }
//         }
//         .price-and-title{
//             display: grid;
//             .title{
//                 flex: 2;
//                 font-size: 14px;
//                 padding: 10px 5px 0px 0px;
//             }
//             .price{
//                 flex: 1;
//                 font-size: 14px;
//                 padding: 10px 5px 0px 0px;
//                 .sale-price{
//                     color: gray;
//                     text-decoration: line-through 1.5px;
//                 }
//             }

//         }
        
//     }
//     .card-products:hover{
//         .second-image{
//             z-index: 2;
//         }
//     }

// } 
// }
// // @media screen and (max-width: 770px){
// // .link-products{
// //     .card-products{
// //         width: 130px;
// //         height: 185px;
// //         .image{
// //             display: block;
// //             width: 130px;
// //             height: 185px;
// //             position: relative;

// //             img{
// //                 width: 130px;
// //                 height: 185px;
// //             }
// //             .main-image{
// //                 overflow: hidden;
// //                 object-fit: cover;
// //                 position: absolute;
// //                 z-index: 1;
// //             }
// //             .second-image{

// //                 overflow: hidden;
// //                 object-fit: cover;
// //                 position: absolute;
// //                 z-index: -1;
// //             }
// //             }
        
// //     }
// //     .card-products:hover{
// //         .second-image{
// //             z-index: 2;
// //         }
// //     }
// // }
// // }
