.cart-hover-area{
 
    position: absolute;
    right: 27px;
    top: 45px;
    width: 350px;
    // background-color: red;
    background-color: rgb(248, 247, 247);
    z-index: 20;
    padding: 15px 10px 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: default;

    .cart-item-area{


        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .cartItemSwiper{
            width: 100%;
        }
    }

    hr{
        border: 0.4px solid grey;
        margin: 10px 0px;
        width: 90%;
    }
    .info{
        // margin: 5px auto;
        display: flex;
        width: 90%;
        justify-content: space-between;
    }

}
.total{
    margin-bottom: 10px;
}
.link-with-button{
    text-decoration: none;
    width: 85%;
    button{
        display: block;
        width: 100%;
        height: 50px;
        border: 1px solid black;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }
}

.white-text{
    color: white;
}
.black-button{
    background-color: rgb(39, 38, 38);
}
.white-button{
    background-color: white;
}
.black-text{
    color: black;
}

@media (max-width:1000px) {
    .cart-hover-area{
        position: fixed;
        right: 0px;
        top: 0px;
        width: 300px;
        height: 150px;
        .cart-item-area, .info, .link-with-button, hr{
            display: none !important;
        }
        .adding-notification{
            width: 100%;
            display: block !important;
        }
    }
}