.notification-container{
    position: fixed;
    border-radius: 3%;
    z-index: 2;
    width: 320px;
    height: 210px;
    background-color: rgb(214, 206, 201);

    h2{
        text-align: center;
        color: rgb(137, 96, 96);
        margin-bottom: 5px;
    }

    .adding-notification{
        width: 100%;
    }
    
}
@media screen and (max-width: 1000px) {
    .notification-container{
        height: 200px;
    }
}
