
.products{
    max-width: 1600px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    .left{
        width: 15%;
        padding: 15px 5% 0px 30px;
        position: sticky;
        top: 0;
        align-self: flex-start;
        h2{
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: normal;
            text-decoration: none;

        }
        .filter-item{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
            .input-radio{
                display: flex;
                flex-direction: row;
                align-items: center;
                input{
                    margin-top: 3px;
                }
            }
            input{
                margin-right: 10px;
            }
        }
        .price-slider{
            display: flex;
            input{
                margin:0px 5px 0px 7px;
            }
        }
    }
    .right{
        width: calc(100vw - 15%);
        // background-color: red;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .catagory-img{
            width: 100%;
            height: calc(28 * min(80vw,1200px) /100);
            object-fit:cover;
        }
        .bottom{
            display: grid; /* 1 */
            grid-template-columns: repeat(5, 19.2%); /* 2 */
            grid-auto-rows: calc(40 * min(75vw,1250px) /100); /* 2 */
            grid-gap: 0.2rem;
            justify-content: space-evenly; /* 4 */
        }

    }
}
@media screen and (max-width:1500px){
    .products{
        .right{
            .catagory-img{
                width: 100%;
                height: calc(50 * min(75vw,1200px) /100);
                object-fit:cover;
            }
            .bottom{
                margin: 20px;
                display: grid; /* 1 */
                grid-template-columns: repeat(4, 25%); /* 2 */
                grid-auto-rows: 35vw; /* 2 */
                .card-item{
                }
            }
        }
    }
}
@media screen and (max-width:1000px){
    .products{
        .left{
            display: none;
        }
        .right{
            width: 100%;
            .catagory-img{
                width: 100%;
                height: 50vw;
                object-fit:cover;
            }
            .bottom{
                margin: 20px;
                display: grid; /* 1 */
                grid-template-columns: repeat(5, 19.2%); /* 2 */
                grid-auto-rows: calc(50 * min(75vw,1200px) /100); /* 2 */
                .card-item{
                }
            }
        }
    }
}
@media screen and (max-width:1024px){
    .products{
        .left{
            display: none;
        }
        .right{
            width: 100%;
            .catagory-img{
                width: 100%;
                height: calc(55 * min(75vw,1200px) /100);
                object-fit:cover;
            }
            .bottom{
                margin: 30px;
                display: grid; /* 1 */
                grid-template-columns: repeat(4, 25%); /* 2 */
                grid-gap: 0.5rem;
                grid-auto-rows: calc(45 * min(100vw,1200px) /100); /* 2 */
                .card-item{
                }
            }
        }
    }
}
@media screen and (max-width:710px){
    .products{
        .left{
            display: none;
        }
        .right{
            width: 100%;
            .catagory-img{
                width: 100%;
                height: calc(65 * min(75vw,1200px) /100);
                object-fit:cover;
            }
            .bottom{
                margin: 30px;
                display: grid; /* 1 */
                grid-template-columns: repeat(3, 33.33%); /* 2 */
                grid-gap: 0.5rem;
                grid-auto-rows: 55vw; /* 2 */
                .card-item{
                }
            }
        }
    }
}
@media screen and (max-width:425px){
    .products{
        .left{
            display: none;
        }
        .right{
            width: 100%;
            .catagory-img{
                width: 100%;
                height: calc(65 * min(75vw,1200px) /100);
                object-fit:cover;
            }
            .bottom{
                margin: 15px;
                display: grid; /* 1 */
                grid-template-columns: repeat(2, 50%); /* 2 */
                grid-gap: 0.5rem;
                grid-auto-rows: 80vw; /* 2 */
                .card-item{
                }
            }
        }
    }
}