@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

.navbar{
    height: 50px;
    .wrapper{
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 15px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .item{
            display: flex;
            align-items: center;
        }
        .left{
            display: flex;
            align-items: center;
            gap: 20px;
            margin-left: 15px;
            img{
                width: 50%;
            }
        }
        
        .right{
            display: flex;
            align-items: center;
            gap: 20px;
            margin-right: 15px;
            .icons{
                display: flex;
                gap: 10px;
                color: #777;
                cursor: pointer;
                align-items: center;
                // background-color: red;
            }
            .cart{
               display: flex;
               justify-content: flex-end;
                .cart-icon{
                    margin: auto;
                    position: relative;
                    display: flex;
                    .cart-item-count{
                        position: absolute;
                        font-size: 12px;
                        top:-10px;
                        right: -10px;
                        color: white;
                        background-color: #2879fe;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
        .center{
            padding: auto;
            margin: 0px;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 25px;

          
            .center-logo{
                font-size: 38px;
                font-family: 'Moon Dance' , cursive;
               


            }
            .center-logo:hover{
                background-clip: text;
                color: transparent;
                background-image: linear-gradient(45deg,rgb(255, 0, 0), pink)
            }
        
        }
    }
    
}

.nav-menu-wrapper{
    background-color: #000000;;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
}
.navigation-menu{
    background-color: white;
    height: 100vh;
    z-index: 1000;
    // width: 200px;
    opacity: 1;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
    .item{
        display: flex;
        align-items: center;
        gap: 5px;
        span{
            font-size: 15px;
        }

    }
    .item:hover{
        cursor: pointer;
        .icon{

        }
    }

}
.mobile{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px; 
    
    .left{
     padding: auto;
     margin: 0px;

     font-size: 25px;
     display: flex;
     gap: 20px;
     align-items: center;
        .center-logo{
            font-size: 30px;
            font-family: 'Moon Dance' , cursive;

        }
        .center-logo:hover{
            background-clip: text;
            color: transparent;
            background-image: linear-gradient(45deg,rgb(255, 0, 0), pink)
        }
        img{
            width: 25px;
        }
    }
    .right{
         .icons{
             display: flex;
             gap: 10px;
             color: #777;
             cursor: pointer;
             align-items: center;

             .cart-icon{
                display: flex;
                align-items: center;
                position: relative;
                span{
                   position: absolute;
                    top:-7px;
                    right:-3px;
                    border-radius: 50%;
                    color: white;
                    background-color: #2879fe;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                }
             }
         }
    }

}

